[Unit]
Description=MHP camera system orchestrator

[Install]
WantedBy=default.target

[Service]
Environment=PYTHONUNBUFFERED=1
; Initialise pyenv to use correct python version,
; then use poetry virtualenv interpreter to run orchestrator.py.
ExecStart=/bin/bash -c 'eval "$($HOME/.pyenv/bin/pyenv init -)" && $($HOME/.poetry/bin/poetry env info -p)/bin/python orchestrator.py'
